* {
	color: #5C5F58;
}

:root {
  --main-blue: #0D324D;
}

html, body {
	padding: 0px;
	margin: 0px;
  font-weight: 300;
}

html, body, ion-content {
  font-family: 'Dosis';
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex {
  display: flex !important;
}

.text-center {
  text-align: center;
}

/***  BUTTON STYLES  ***/
.button {
  display: inline-block;
  text-decoration: none;
  border: solid 2px #5C5F58;
  background-color: transparent;
  transition: 0.2s ease;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  margin: 25px 0;
}

.button.full {
  display: block;
}

.button:hover {
  background-color: var(--main-blue);
  color: white !important;
}


/***  ITEM CARD GENERIC STYLES (USED ON SERVICES AND BRANDS PAGES)  ***/
.item-cards {
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.item-cards .card {
  display: flex;
  width: 50%;
}

.item-cards .card-inner {
  display: flex; 
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 3px 6px #5C5F58;
}

.item-cards .card-inner:hover {
  top: -10px;
}

.item-cards h2 {
  font-size: 20px;
}

.item-cards h3 {
  font-size: 16px;
}

/***  MAIN NAVIGATION STYLES  ***/
nav {
	box-shadow: 0 3px 2px -2px #5C5F58;
	padding: 0;
  position: fixed;
  z-index: 200;
  width: 100%;
  background: var(--main-blue);
}

nav .mobile-menu-btn {
  display: none;
}

nav .inner-content {
	max-width: 1200px;
  padding: 0 20px;
	margin: auto;
	height: 80px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

nav img {
	height: 60px;
}

nav .nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
	display: inline-block;
  font-size: 14px;
	padding: 5px 0 4px;
  margin: 0 10px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
  border-bottom: solid 1px;
  border-color: transparent;
  transition: border-color 250ms ease-in-out;
}

.nav-links a.active {
  border-color: white;
}

nav .nav-links a:hover { 
	border-color: white;
}

/***  MOBILE NAVIGATION STYLES  ***/
#nav-menu-mobile {
  z-index: 10;
  padding-top: 40px;
  width: 0;
  overflow-x: hidden;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.9);
}

#nav-menu-mobile #mobile-menu-close {
  position: absolute;
  color: #ffffff;
  right: 15px;
  top: 10px;
  font-size: 24px;
}

#nav-menu-mobile .social {
  display: flex;
}

#nav-menu-mobile a {
  display: block;
  padding: 15px 0px 15px 25px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.9s;
  min-width: 100px;
}

#nav-menu-mobile .social a {
  min-width: 0;
}

#nav-menu-mobile a ion-icon {
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  nav .inner-content {
    height: 50px;
    justify-content: center;
  }

  nav .inner-content img {
    height: 40px;
  }

  body .main-content {
    padding-top: 50px;
  }

  nav .mobile-menu-btn {
    display: block;
    position: absolute;
    font-size: 30px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  nav .nav-links {
    display: none;
  }

}

/***  MAIN CONTENT PANE STYLES  ***/
.main-content {
  padding-top: 80px;
  flex: 1;
}

.content-section-outer {
  padding: 120px 30px;
}

.content-section-inner {
  max-width: 1000px;
  margin: auto;
}

.content-section-inner h1 {
  font-size: 35px;
  font-weight: bold;
}

/***  MAIN FOOTER STYLES  ***/
.footer  {
  background: #000000;
}

.footer-inner {
  max-width: 900px;
  height: 150px;
  padding: 0px 30px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-inner .logo img {
  height: 60px;
}

.footer-inner .nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-left: 100px;
}

.footer-inner .nav-links > div {
  flex-grow: 1;
}


.footer-inner a {
  color: #ffffff;
  font-weight: normal;
  display: block;
}

.copyright p {
  color: rgba(255, 255, 255, 0.3);
  margin: 0;
  padding: 15px 0;
  text-align: center;
}


/***  HOMEPAGE STYLES  ***/
.page--home .swiper {
  width: 100%;
  height: 600px;
}
.page--home .swiper-slide {
	background-size: cover;
	background-position: center;
	position: relative;
}

.page--home .swiper-slide .text-content {
	position: absolute;
  text-align: left;
	bottom: 50px;
	left: 0;
	background: rgba(255, 255, 255, 0.7);
  width: 400px;
	max-width: 400px;
	padding: 30px;
}

.page--home .swiper-slide .text-content h2,
.page--home .swiper-slide .text-content p,
.page--home .swiper-slide .text-content a {
  color: black;
}

.page--home .swiper-container {
  height: 500px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .page--home .swiper-slide .text-content {
    right: 50%;
    transform: translateX(50%);
    width: 80%;
    text-align: center;
  }
}

.page--home .content-section-inner > div {
  width: 50%;
}

.page--home .content-section-inner.left {
  justify-content: flex-start;
}

.page--home .content-section-inner.right {
  justify-content: flex-end;
}

.page--home .services,
.page--home .contact {
  background: #e0e0e0;
}

.page--home .services h1, .services p {
  color: #5C5F58;
}

.page--home .content-icons {
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.page--home .content-icons.lab {
  margin-right: 20px;
  box-shadow: 0 0 6px 6px #e0e0e0 inset;
}

.page--home .content-icons.team {
  margin-left: 20px;
  box-shadow: 0 0 6px 6px white inset;
}

.page--home .content-icons img {
  width: 90%;
}

.page--home .brands .content-icons {
  flex-wrap: wrap;
}

.page--home .content-icons ion-icon {
  font-size: 100px;
  margin: 0 20px;
}

.page--home .brands .content-icons .img {
  padding: 0 15px;
  max-width: 30%;
}

.page--home .brands .content-icons .img img {
  width: 100%;
}

/***  SERVICES STYLES  ***/
.item-cards.service .card {
  width: 33.333333%;
}

.item-cards.service .card-inner ion-icon {
  font-size: 100px;
  color: #4B8D07;
}

/***  BRANDS STYLES  ***/
.brands h2 {
  margin-top: 50px;
}

.item-cards.rooms img,
.item-cards.equipment img {
 width: 100%;
  margin: auto;
}

.item-cards.equipment .card {
  width: 33.333333%;
}

.brands .parts-list li,
.brands .oils-list li {
  font-size: 20px;
}

.brands .contact-section {
  margin-top: 50px;
}


/***  ABOUT US STYLES  ***/
.group-title {
  overflow: hidden;
  text-align: center;
}

.group-title:before,
.group-title:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.group-title:before {
  right: 0.5em;
  margin-left: -50%;
}

.group-title:after {
  left: 0.5em;
  margin-right: -50%;
}
.group-img {
  width: 100%;
}

.current-title {
  margin: 50px 0 0;
}

.employee-list {
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.person-card {
  width: calc(33.3333% - 30px);
  margin: 0 15px;
  flex-grow: 0;
}

.person-card .card-content {
  position: relative;
  margin: 20px 0;
  display: flex;
  transition: top ease 250ms;
  top: 0;
  box-shadow: 0 3px 6px #5C5F58;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}

.person-card .card-content:hover {
  top: -10px;
}

.person-card img {
  width: 100%;
  
}

.person-card h2,
.person-card h4,
.person-modal h2,
.person-modal h4 {
  margin: 0;
  font-weight: normal;
}

.person-card .text-content {
  padding: 30px;
}

.person-card .contact-info {
  margin-top: 10px;
}

.person-card .contact-info p {
  font-size: 12px;
  margin: 0 0 5px;
}

.person-card p a {
  text-decoration: none;
  color: #64bcfc;

}

.person-card .description {
  display: none;
}

.person-modal.tingle-modal:before {
  backdrop-filter: none;
}

.person-modal .tingle-modal-box__content {
  display: flex;
}

.person-modal .img-div {
  width: 30%;
  flex-shrink: 0;
  margin-right: 30px;
}

.person-modal .img-div img {
  width: 100%;
  height: auto;
}

.person-modal .contact-info {
  display: none;
}

.person-modal .description {
  margin-top: 20px;
}

.location {
  display: flex;
  align-items: flex-start;
  margin: 40px 0;
}

.location iframe {
  width: 350px;
  height: 350px;
}

.location-info {
  margin-left: 40px;
  width: 70%;
}


/* PUBLICATIONS PAGE STYLES */
.publications {
  justify-content: space-around;
}

.publications a {
  text-decoration: none;
  font-size: 20px;
}

.publications a:hover {
  color: var(--main-blue);
}

.articles-list li {
  padding: 10px 0;
}

/* PROF HARRINGTON PAGE STYLES */
.harrington .content-section-inner {
  margin-bottom: 100px;
}

.harrington .matt-bio div {
  width: 50%;
  position: relative;
  flex-grow: 0;
}

.harrington .matt-bio .matt-pic {
  background-size: cover;
  background-position: center;
  height: auto;
  z-index: 10;
}

.harrington .matt-bio .matt-description {
  padding: 20px 20px 20px 35px;
  background-color: #dedede;
  bottom: -80px;
  left: -20px;
}

.harrington-about {
  margin-top: 150px;
}


/*--- Responsive styles ---*/
@media screen and (max-width: 800px) {
  .page--home .content-section-inner.flex,
  .footer-inner,
  .employee-list {
    flex-direction: column;
  }

  .page--home .content-section-inner > div {
    width: 100%;
  }

  .page--home .content-section-inner .content-icons {
    order: 1;
  }

  .page--home .content-section-inner .content-text {
    order: 2;
  }

  .employee-list .person-card {
    width: 90%;
    margin: 10px auto;
  }

  .item-cards.service .card {
    width: 50%;
  }

  .location .location-info h2 {
    font-size: 20px;
  }

  .footer-inner {
    padding: 20px 10px;
  }

  .footer-inner .nav-links {
    font-size: 12px;
  }
}

@media screen and (max-width: 660px) {
    .location {
      flex-direction: column-reverse;
    }

    .location .location-info {
      margin-left: 0;
    }
}

@media screen and (max-width: 540px) {
  .item-cards.service .card {
    width: 100%;
  }

  .tingle-modal .tingle-modal-box {
    width: 90%;
    margin: auto;
  }

  .location iframe {
    width: 90%;
  }

  .nav-links {
    padding:  10px 0;
  }

  .footer-inner .nav-links a {
    display: block;
    font-size: 16px;
    width: auto;
    margin: 3px 0;
    text-decoration: none;
  }

  .footer-inner .social ion-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
}

@media screen and (max-width: 500px) {
  .page--about .content-section-outer {
    padding: 15px;
  }
}